body {
  font-family: sans-serif;
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 15px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  width: 200px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
}

#search-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #0069d9;
}

#search-history {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search-history-item {
  padding: 5px 10px;
  background-color: #e9ecef;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-history-item:hover {
  background-color: #dee2e6;
}

.current-weather-item {
  flex-basis: calc(20% - 10px);
  padding: 10px;
  background-color: #ff980069;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.current-weather-item h2 {
  margin-top: 0;
}

.current-weather-item img {
  display: block;
  margin: 0 auto;
}

.forecast-item {
  flex-basis: calc(20% - 10px);
  padding: 10px;
  background-color: #e9ecef45;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.forecast-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.forecast-item img {
  display: block;
  margin: 0 auto;
}
